<div class="footer">
    <div class="row bg-dark text-white">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="../../assets/Images/logo.png" class="w-25" alt="Logo">
        </div>
        <div class="col-md-2 mt-3">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
            </ul>
        </div>
        <div class="col-md-2 mt-3">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
            </ul>
        </div>
        <div class="col-md-2 mt-3">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
            </ul>
        </div>
        <div class="col-md-2 mt-3">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
            </ul>
        </div>
        <h5 class="copy py-3 text-center">copyright 2020 @our-team</h5>
    </div>
</div>