.spacing {
    margin-top: 150px;
    text-align: center;
    color: #e62c92;
    font-family: 'Segoe light UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
h2 {
    color: #e62c92;
    font-family: 'Segoe light UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.modal-body {
    background-color: #f2f2f2 !important;
}
.card .image .card-img-top {
    position: relative;
    transition: all 1s;
  }
.card .image .back-image {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #d97eb0;
    width: 100%;
    height: 100%;
  }
.fa-plus {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fff;
    font-size: 4rem;
  }
  .image {
      overflow: hidden;
      transition: all 1s;
  }
.image:hover .card-img-top {
    opacity: .08;
  }
.image:hover img {
    transform: scale(1.2);  
  }
.cards a {
    cursor: pointer;
  }
.modal-dialog {
    width: 100%;
  }
.price {
    color: #e62c92;
    text-align: center;
    padding: 20px;
    font-weight: bold;
  }
.list {
    width: 50%;
    margin : auto;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #d97eb0;
  }
.list li {
      padding: 10px 0;
  }
h4,h5 {
    color: #cf2e87;
}
.nav-link {
    color: #cf2e87 !important;
    background-color: transparent !important;
    font-weight: bold;
    border-color: transparent !important;
    position: relative !important;
    margin-left: 60px;
}

.nav-link::after {
    content: "";
    position: absolute !important;
    top: 40px;
    left: 15px;
    background-color: #000;
    width: 0;
    height: 3px;
    transition: all 1s;
}
.nav-link:hover::after {
    width: 50px;    
}
.nav-tabs {
    border:0 !important;
    position: relative;
}
p {
    line-height: 2;
}
.nav-link.active {
    border-bottom: 3px solid #000 !important;
}
.banner {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: 10%;
    z-index: -1;
    font-weight: bold;
    font-size: 14px;
    transform: rotate(25deg);
}