.spacing {
    margin-top: 150px;
    text-align: center;
    color: #e62c92;
    font-family: 'Segoe light UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

h2 {
    color: #e62c92;
    font-family: 'Segoe light UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.image {
    overflow: hidden;
    transition: all 1s;
}

.price {
    color: #e62c92;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

h4,
h5 {
    color: #cf2e87;
}

p {
    line-height: 2;
}

button {
    display: flex;
    align-items: right;
}