<section class="about">
    <div class="container py-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-4 col-sm-6 w-100 my-4">
                <div class="crd1 w-100 p-4">
                    <div class="crd-img">
                        <img src="../../assets/Images/Team-Work/0.jpg">
                    </div>
                    <h4 class="mt-3">
                        Emad Abd El-Mageed
                    </h4>
                    <p>Team Leader</p>
                    <hr>
                    <div class="crd-foter w-100 p-2 d-flex">
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-twitter"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-instagram"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="far fa-envelope"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 w-100 my-4">
                <div class="crd1 w-100 p-4">
                    <div class="crd-img">
                        <img src="../../assets/Images/Team-Work/1.jpg">
                    </div>
                    <h2 class="mt-3">
                        Amr Hassan
                    </h2>
                    <p>Developer</p>
                    <hr>
                    <div class="crd-foter w-100 p-2 d-flex">
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-twitter"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-instagram"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="far fa-envelope"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 w-100 my-4">
                <div class="crd1 w-100 p-4">
                    <div class="crd-img">
                        <img src="../../assets/Images/Team-Work/3.jpg">
                    </div>
                    <h2 class="mt-3">
                        Islam Moustafa
                    </h2>
                    <p>Developer</p>
                    <hr>
                    <div class="crd-foter w-100 p-2 d-flex">
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-twitter"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-instagram"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="far fa-envelope"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 w-100 my-4">
                <div class="crd1 w-100 p-4">
                    <div class="crd-img">
                        <img src="../../assets/Images/Team-Work/2.jpg">
                    </div>
                    <h2 class="mt-3">
                        Mario Magdy
                    </h2>
                    <p>Developer</p>
                    <hr>
                    <div class="crd-foter w-100 p-2 d-flex">
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-twitter"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-instagram"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="far fa-envelope"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 w-100 my-4">
                <div class="crd1 w-100 p-4">
                    <div class="crd-img">
                        <img src="../../assets/Images/Team-Work/4.jpg">
                    </div>
                    <h2 class="mt-3">
                        Mohamed Zaki
                    </h2>
                    <p>Developer</p>
                    <hr>
                    <div class="crd-foter w-100 p-2 d-flex">
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-twitter"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="fab fa-instagram"></i></a></div>
                        <div class="crd-foter-icon w-25"><a href="#"><i class="far fa-envelope"></i></a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!---apout end----->