.bg-dark {
    background-color: transparent !important;
}
.nav-link {
    color: rgb(216,126,177)!important;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0 0 5px #fff;
}
.nav-link:hover {
    color: #fff !important;
    text-shadow: 0 0 10px #000;
}
.custom {
    color : #000;
    border-color: #fff;
}
.custom:hover {
    background-color: rgb(242,183,215);
    color:#fff
}
.dropdown-menu {
    background-color : rgb(216,126,177) !important;
}
.fa-cart-plus {
    font-size: 3rem;
    color : rgb(216,126,177)
}