.bg-dark {
    background-color: #d93d93 !important;
}
.nav-link {
    color: #f2f2f2!important;
    font-size: 1.2rem;
    font-weight: bold;
}
.nav-link:hover {
    text-shadow: 0 0 7px #000;
}
.custom {
    color : #000;
    border-color: #fff;
}
.custom:hover {
    background-color: rgb(242,183,215);
    color:#fff
}
.dropdown-menu {
    background-color : rgb(216,126,177) !important;
}
.fa-cart-plus {
    font-size: 3rem;
    color : rgb(216,126,177)
}