#contact-us {
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

#contact-us h2 {
    color: #fff;
    text-shadow: 0 0 5px #787878;
    position: relative;
}

#contact-us h2::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    width: 10%;
    height: 1px;
    margin-bottom: 10px;
}

#contact-us p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #999;
}

#contact-us h5 {
    color: rgb(216, 126, 177);
    text-shadow: 0 0 5px #787878;
    position: relative;
}

#contact-us i {
    color: rgb(216, 126, 177);
}
