<section id="contact-us" class="py-5">
    <h2 class="text-center py-3">Welcome from contact</h2>
    <p class="text-center py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, omnis!</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <h5 class="py-3">you can visit us</h5>
                    <div class="row">
                        <div class="col-md-2">
                            <i class="far fa-map fa-2x"></i>
                        </div>
                        <div class="col-md-10">
                            <h5>Adress</h5>
                            <p>1650 Lombard Street, San Francisco, CA 94123</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fas fa-mobile-alt fa-2x"></i>
                        </div>
                        <div class="col-md-10">
                            <h5>Phone</h5>
                            <p>(002)01141736576</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <i class="far fa-envelope fa-2x"></i>
                        </div>
                        <div class="col-md-10">
                            <h5>Say Hello</h5>
                            <p>Amr_hassan522@yahoo.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <form>
                        <input class="form-control my-3" type="text" name="name" placeholder=" Name">
                        <input class="form-control my-3" type="email" name="email" placeholder=" email">
                        <input class="form-control my-3" type="number" name="phone" placeholder=" phone">
                        <textarea class="form-control my-3" name="message" placeholder=" message"></textarea>
                        <button type="submit" class="btn btn-info w-100">send message</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>