.about {
    margin-top: 70px;
}
.crd1
{
    text-align: center;
    border: 2px solid #B80062;
    border-radius: 15px ;
}
.crd1 h2
{
    color: #050505;
}
.crd-img img
{
    border-radius: 50% 5% 50% 5%;
}
.crd-bord
{
    color: #B80062;
    width: 25%;
    transition: all 1s;
}
.crd1:hover .crd-bord
{
    width: 50%;
}
.crd-as
{
    text-align: center;
    font-size: 1.1rem;
}
.crd-foter-icon a
{
    text-decoration: none;

}
.crd-foter-icon a i
{
    font-size: 1.8rem;
    transition: all 1s;
    color: #B80062;
}

.crd-foter-icon a i:hover
{
    transform: scale(1.2);
    color: #FF5CB3;
}
.crd-as span
{
    color: #000;
    font-weight: 600;
}