<section id="cart" class="text-center">
    <h1 class="spacing mb-4">shopping Cart (2)</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 py-3 px-3">
                <div class="card">
                    <div class="image">
                        <img src="../../assets/Images/Men/p1.jpg" class="card-img-top rounded image-fluid" alt="...">
                    </div>
                </div>
                <div class="card-body text-center">
                    <h4 class="price">1460 EG</h4>
                    <input class="form-control" type="number" placeholder="Number of Items">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 py-3 px-3">
                <div class="card">
                    <div class="image">
                        <img src="../../assets/Images/Men/p1.jpg" class="card-img-top rounded image-fluid" alt="...">
                    </div>
                </div>
                <div class="card-body text-center">
                    <h4 class="price">1460 EG</h4>
                    <input class="form-control" type="number" placeholder="Number of Items">
                </div>
            </div>



        </div>
        <div class="checkout bg-black">
            <button class="btn btn-info m-2">Proceed to checkout</button>
        </div>
    </div>
</section>