<header>
    <div class="overlay">
        <app-navbar></app-navbar>
        <div class="caption mt-5">
            <div class="container">
                <h2 class="mb-5 text-center heading">Tagline descripe your e-shop</h2>
                <div class="d-flex justify-content-center align-items-lg-center">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                            <div class="categ">
                                <img src="../../assets/Images/man.jpg" class="w-100" alt="">
                                <div class="overlaying">
                                    <h2>Men Gifts</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                            <div class="categ">
                                <img src="../../assets/Images/kids.jpg" class="w-100" alt="">
                                <div class="overlaying">
                                    <h2>kids Gifts</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                            <div class="categ">
                                <img src="../../assets/Images/women2.png" class="w-100" alt="">
                                <div class="overlaying">
                                    <h2>Women Gifts</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--===================================================== Offers===================================== -->
<section id="offers" class="py-3">
    <h2 class="text-center p-5">Shop Now</h2>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img h-75">
                            <img src="../../assets/Images/2.jpg" class="img-fluid d-block w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-6">
                            <img src="../../assets/Images/2.jpg" class="img-fluid d-block w-100" alt="...">
                    </div>
                </div>
              </div>

          </div>
          <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                      <img src="../../assets/Images/2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-md-6">
                      <img src="../../assets/Images/2.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
              </div>
        </div>
          <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                      <img src="../../assets/Images/2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-md-6">
                      <img src="../../assets/Images/2.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
              </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

</section>

<!--=====================================================/ Offers===================================== -->
