<header>
    <div class="overlay">
        <app-navbar></app-navbar>
        <div class="caption mt-5">
            <div class="container">
                <h2 class="mb-5 text-center heading">Tagline descripe your e-shop</h2>
                <div class="d-flex justify-content-center align-items-lg-center">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                            <div class="categ">
                                <img src="../../assets/Images/man.jpg" class="w-100" alt="">
                                <div class="overlaying">
                                    <h2>Men Gifts</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                            <div class="categ">
                                <img src="../../assets/Images/kids.jpg" class="w-100" alt="">
                                <div class="overlaying">
                                    <h2>kids Gifts</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-3">
                            <div class="categ">
                                <img src="../../assets/Images/women2.png" class="w-100" alt="">
                                <div class="overlaying">
                                    <h2>Women Gifts</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>